<ion-view title="JP Market" hide-back-button="true">
  <ion-content class="jp-home">
    <ion-slide-box  class="home__slide-box">
      <ion-slide>
        <a href="javascript:;" >
          <img src="assets/s001.jpg" />
        </a>
      </ion-slide>
      <ion-slide>
        <a href="javascript:;" >
          <img src="assets/s002.jpg" />
        </a>
      </ion-slide>
      <ion-slide>
        <a href="javascript:;" >
          <img src="assets/s003.jpg" />
        </a>
      </ion-slide>
      <ion-slide>
        <a href="javascript:;" >
          <img src="assets/s004.jpg" />
        </a>
      </ion-slide>
      <ion-slide>
        <a href="javascript:;" >
          <img src="assets/s005.jpg" />
        </a>
      </ion-slide>
    </ion-slide-box>
    <article class="home__type-box" >
      <section class="row home__type-list home__type-list--first" >
        <div class="col col-50 type-item type-item--senior">
          <a href="#/rank?type=senior">
            <i class="type-item__icon" ><b></b></i>
            <span>高中</span>
          </a>
        </div>
        <div class="col col-50 type-item type-item--junior">
          <a href="#/rank?type=junior" >
            <i class="type-item__icon"><b></b></i>
            <span>初中</span>
          </a>
        </div>
      </section>
      <section class="row home__type-list">
        <div class="col col-50 type-item type-item--primary">
          <a href="#/rank?type=primary" >
            <i class="type-item__icon"><b></b></i>
            <span>小学</span>
          </a>
        </div>
        <div class="col col-50 type-item type-item--preschool">
          <a href="#/rank?type=preschool" >
            <i class="type-item__icon"><b></b></i>
            <span>学前</span>
          </a>
        </div>
      </section>
      <a href="#/rank" class="home-type__all-btn" >
        <i>
          <b></b>
        </i>
      </a>
    </article>
  </ion-content>
</ion-view>
