<ion-view title="详情页" hide-back-button="false" >
  <ion-content class="jp-product">
    <section class="app-info" >
      <figure class="app-info__pic">
        <img src="assets/place1x1.gif" />
      </figure>
      <div class="app-info__intro">
        <h3>爬梯朗读</h3>
        <span>60万次下载    7.5MB</span>
      </div>
    </section>
    <section class="app-intro">
      <h3 class="app-intro__title" >应用介绍</h3>
      <article class="app-intro__cnt">

        <p>爬梯朗读（Pati）是神州佳教（北京）信息服务股份有限公司推出的一款少儿朗读学习产品。通过朗读录音并打分的形式，给朗读带入快乐元素，帮小朋友们提高朗读兴趣！</p>

        <p>特色介绍：

        1.素材全面，与校内课程挂钩，涵盖了小学语文主要版本的课文朗读，完全可以满足小学生进行语文朗读的课后作业的需求；<br />
        2.全新的录音体验，配合订制的背景音乐，有助于小朋友快速进入朗读状态；打分机制的引入使朗读者成就感倍增；<br />
        3.丰富的卡通界面元素，结合进阶机制的设定，让小朋友在轻松快乐的氛围下完成朗读，而不再是枯燥的应付；<br />
        4.展示平台的搭建，完成的朗读作品可以进行发布，让更多的小朋友或者朗读爱好者来收听，来送花；<br />
        5.分享，可以一键分享给微信/QQ好友，或者朋友圈，或者QQ空间，让老师和同学们来膜拜吧！<br />

        </p>
        <p>联系我们：

        客服电话：400-706-7131<br />
        官网：pati.edu-china.com<br />
        版本:  1.1.0<br />
        时间:  2016-11-02<br />
        </p>
      </article>
    </section>
    <div class="product-download">
      <a href="javascript:;" class="button button-block">下载&nbsp;&nbsp;(7.5MB)</a>
    </div>
  </ion-content>
</ion-view>
