<ion-view title="Ranking List" hide-back-button="false" >
  <ion-content class="jp-ranking" >
    <ion-list class="list ranking-list">
      <div class="item item-divider ranking-list__divider"><i></i>高考必备</div>
      <ion-item class="app-item">
          <div class="app-item__img-box">
            <a href="#/product?=123" >
              <img class="app-item__img" src="assets/place1x1.gif" />
            </a>
          </div>
          <div class="app-item__text-box">
            <h3>爬梯朗读</h3>
            <span>给朗读带入快乐元素</span>
          </div>
          <a class="button button-small app-item__btn app-item__btn--download ">下载</a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
